<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- bootstrap and helpful documentation: https://getbootstrap.com/docs/4.0/components/buttons/#:%7E:text=%3Cbutton%20type%3D%22button%22%20class%3D%22btn%20btn%2Dlink%22%3ELink%3C/button%3E%5D -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Truly Fit</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/quiz">Quiz</a>
              </li>
            </ul>
            <!-- food search  -->
            <form class="d-flex" role="search" method="POST">
              <input class="form-control me-2" type="search" placeholder="Search for Food item" name="food_search"></input>
              <button class="btn btn-outline-success" type="submit">
                <i class="fas fa-search">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" button id="search-button" type="submit" class="btn btn-primary">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg>
                </i></button>
            </form>
            <!-- exercise search -->
            <form class="d-flex left_padded" role="search" method="POST">
              <input class="form-control me-2 exercise_search" type="search" placeholder="Search for Exercise" name="exercise_search"></input>
              <button class = "btn btn-outline-success" type="submit">
                <i class="fas fa-search"></i>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" button id="search-button" type="submit" class="btn btn-primary">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
              </button>
            </form>`
            <a class="bi bi-box-arrow-right btn btn-outline-primary left_padded" href = "/" role="button">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
              </svg>
            </a>
          </div>
        </div>
      </nav>
      
      <!-- Main Body -->
      <main>
         <!-- Calendar Portion  -->
        <div class="d-flex gap-2 justify-content-center align-items-center text-center m-3 text-uppercase fs-2">
          <form action="/goBack/{{date1}}">
            <button type="submit" class="btn btn-outline-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
              </svg>
            </button>
          </form>
          
          
          
          <div>
            {{date}}
          </div>

          <form action="/goForward/{{date1}}">
            <button type="submit" class="btn btn-outline-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
              </svg>
            </button>
          </form>
          
        </div>

        <!-- Calories -->
        <br>
        <h4 style = "text-align: center;">Calorie Goal: {{calorie_tracker}}</h4>
        <br> 
        
        <!-- Breakfast Widget -->
        
        <div style="margin: auto; width: 50%; margin-bottom: 2rem;" class="p-3 justify-content-center border rounded">
          <div class="d-flex">
            <div style="width:50%" class="fw-bold d-flex align-items-center fs-2">
              Breakfast
            </div>
            <div>
              {{breakfast_tracker}}
            </div>
            <div style="width:50%" class="d-flex justify-content-end">
              <button type="button" class="d-flex align-items-center btn btn-outline-primary" style="">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div>
            <!-- Food information -->
            {% for food in breakfastData %}
              <div class="d-flex border rounded m-3 align-items-center">
                <div style="width:93%;gap:1rem;" class="p-2 d-flex align-items-center">
                  <img style="width: 2rem; height: 2rem;" src="../static/images/reshot-icon-sandwich-N6WKF3MQLX.svg" alt="">
                  <div style="width: 100%;" class="d-flex">
                    <div style="width:50%;" class="fs-3">
                      {{food[1]}}
                    </div>
                    <div style="width: 50%;" class="fs-3 d-flex justify-content-end">
                      {{food[7]}}
                    </div>
                  </div>
                </div>
                {% if today == date1 %}  
                <form action="/delete" method="POST">
                  <input type="hidden" name="id" value="{{food[3]}}">
                  <input type="hidden" name="foodType" value="{{food[8]}}">
                  <button action="submit" style="width:100%;" type="submit" class="d-flex justify-content-center align-items-center btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </button>
                </form>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        
        <!-- Lunch Widget -->
        
        <div style="margin: auto; width: 50%; margin-bottom: 2rem;" class="p-3 justify-content-center border rounded">
          <div class="d-flex">
            <div style="width:50%" class="fw-bold d-flex align-items-center fs-2">
              Lunch
            </div>
            <div>
              {{lunch_tracker}}
            </div>
            <div style="width:50%" class="d-flex justify-content-end">
              <button type="button" class="d-flex align-items-center btn btn-outline-primary" style="">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div>
            <!-- Food information -->
            {% for food in lunchData %}
              <div class="d-flex border rounded m-3">
                <div style="width:93%;gap:1rem;" class="p-2 d-flex align-items-center">
                  <img style="width: 2rem; height: 2rem;" src="../static/images/reshot-icon-sandwich-N6WKF3MQLX.svg" alt="">
                  <div style="width: 100%;" class="d-flex">
                    <div style="width:50%;" class="fs-3">
                      {{food[1]}}
                    </div>
                    <div style="width: 50%;" class="fs-3 d-flex justify-content-end">
                      {{food[7]}}
                    </div>
                  </div>
                </div>
                {% if today == date1 %}  
                <form action="/delete" method="POST">
                  <input type="hidden" name="id" value="{{food[3]}}">
                  <input type="hidden" name="foodType" value="{{food[8]}}">
                  <button action="submit" style="width:100%" type="submit" class="d-flex justify-content-center align-items-center btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </button>
                </form>
                {% endif %}
              </div>
            {% endfor %}
          
          </div>
        </div>
        
        <!-- Dinner Widget -->
        
        <div style="margin: auto; width: 50%; margin-bottom: 2rem;" class="p-3 justify-content-center border rounded">
          <div class="d-flex">
            <div style="width:50%" class="fw-bold d-flex align-items-center fs-2">
              Dinner
            </div>
            <div>
              {{dinner_tracker}}
            </div>
            <div style="width:50%" class="d-flex justify-content-end">
              <button type="button" class="d-flex align-items-center btn btn-outline-primary" style="">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div>
            <!-- Food information -->
            {% for food in dinnerData %}
              <div class="d-flex border rounded m-3">
                <div style="width:93%;gap:1rem;" class="p-2 d-flex align-items-center">
                  <img style="width: 2rem; height: 2rem;" src="../static/images/reshot-icon-sandwich-N6WKF3MQLX.svg" alt="">
                  <div style="width: 100%;" class="d-flex">
                    <div style="width:50%;" class="fs-3">
                      {{food[1]}}
                    </div>
                    <div style="width: 50%;" class="fs-3 d-flex justify-content-end">
                      {{food[7]}}
                    </div>
                  </div>
                </div>
                {% if today == date1 %}  
                <form action="/delete" method="POST">
                  <input type="hidden" name="id" value="{{food[3]}}">
                  <input type="hidden" name="foodType" value="{{food[8]}}">
                  <button action="submit" style="width:100%" type="submit" class="d-flex justify-content-center align-items-center btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </button>
                </form>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        
        <!-- Snacks Widget -->
        
        <div style="margin: auto; width: 50%; margin-bottom:2rem;" class="p-3 justify-content-center border rounded">
          <div class="d-flex">
            <div style="width:50%" class="fw-bold d-flex align-items-center fs-2">
              Snacks
            </div>
            <div>
              {{snacks_tracker}}
            </div>
            <div style="width:50%" class="d-flex justify-content-end">
              <button type="button" class="d-flex align-items-center btn btn-outline-primary" style="">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div>
            <!-- Food information -->
            {% for food in snackData %}
              <div class="d-flex border rounded m-3">
                <div style="width:93%;gap:1rem;" class="p-2 d-flex align-items-center">
                  <img style="width: 2rem; height: 2rem;" src="../static/images/reshot-icon-sandwich-N6WKF3MQLX.svg" alt="">
                  <div style="width: 100%;" class="d-flex">
                    <div style="width:50%;" class="fs-3">
                      {{food[1]}}
                    </div>
                    <div style="width: 50%;" class="fs-3 d-flex justify-content-end">
                      {{food[7]}}
                    </div>
                  </div>
                </div>
                {% if today == date1 %}  
                <form action="/delete" method="POST">
                  <input type="hidden" name="id" value="{{food[3]}}">
                  <input type="hidden" name="foodType" value="{{food[8]}}">
                  <button action="submit" style="width:100%" type="submit" class="d-flex justify-content-center align-items-center btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                  </button>
                </form>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
        
        <div class="d-flex gap-2 justify-content-center align-items-center text-center m-3 text-uppercase fs-2">
          
          <div class="fw-bold">
            Exercises
          </div>
       
        </div>
        
        <div style="margin: auto; width: 50%; margin-bottom: 2rem;" class="p-3 justify-content-center border rounded">
          <div class="d-flex">
            <div style="width:50%" class="fw-bold d-flex align-items-center fs-2">
              Activity
            </div>
            <div style="width:50%" class="d-flex justify-content-end">
              <button type="button" class="d-flex align-items-center btn btn-outline-primary" style="">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div>
            <!-- Exercise information -->
            {% for exercise in exercises %}
              <div class="d-flex border rounded m-3">
                <div style="width:93%;gap:1rem;" class="p-2 d-flex align-items-center">
                  <img style="width: 2rem; height: 2rem;" src="../static/images/reshot-icon-sandwich-N6WKF3MQLX.svg" alt="">
                  <div style="width: 100%;" class="d-flex align-items-center">
                    <div style="width:50%;" class="fs-5">
                      <div>
                        {{exercise[1]}}
                      </div>
                      <div>
                        {{exercise[3]}} Minutes
                      </div>
                    </div>
                    <div style="width: 50%;" class="fs-3 d-flex justify-content-end">
                      {{exercise[2]}}
                    </div>
                  </div>
                </div>    
                {% if today == date1 %}  
                <form action="/deleteExercise" method="POST">
                  <input type="hidden" name="name" value="{{exercise[1]}}">
                  <div style="width:100%;" class="d-flex align-items-center">
                    <button action="submit" style="width:100%;" type="submit" class="d-flex justify-content-center align-items-center btn btn-outline-danger">
                      <svg xmlns="http://www.w3.org/2000/svg" width="2rem" height="2rem" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                      </svg>
                    </button>
                  </div>
                </form>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      
        <!--Weight Stuff-->
        <div style="margin: auto; width: 50%; margin-bottom: 2rem;" class="p-3 justify-content-center border rounded">
          <div>
            <!-- Exercise information -->
              <div class="d-flex border rounded m-3">
                <div style="width:93%;gap:1rem;" class="p-2 d-flex align-items-center">
                  <div style="width: 100%;" class="d-flex align-items-center">
                    <div style="width:50%;" class="fs-5">
                      <div>
                        Weight
                      </div>
                    </div>
                    <div style="width: 50%;" class="fs-3 d-flex justify-content-end">
                      {{weight}}
                    </div>
                  </div>
                </div>  
              </div>
          </div>
        </div>
        
      </main>
</body>

</html>