<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<body>
    <div class = center>
        <h2>register here :D</h2>
	    <form action="/register" method="post">
        <label for="username">Username</label>
        <br> 
        <input type= "text" name="username" required minlength="3"></input>
        <br>
        <br>
        <label for="password">Password</label>
        <br> 
		<input type= "password" name="password" required minlength="3"></input>
		<br>
        <br>
		<input type="submit">
	    </form>
        <br>
        <div class="register">
			Already Registered? <br>
		<button onclick="window.location.href='/login'">Log in</button>
		</div>
    </div>
</body>

</html>